* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
}

.box {
    width: 400px;
    height: 400px;
    background-color: burlywood;
    margin: 0 auto;
    position: relative;
    background-color: whitesmoke;

}

.one {
    width: 20px;
    height: 20px;
    background-image: url(./img/glasses.png);
    background-size: cover;
    position: absolute;
}

.two {
    width: 20px;
    height: 20px;
    background-image: url(./img/happy.png);
    background-size: cover;
    position: absolute;
    top: 380px;
    left: 380px;
}

#banner {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
}